ODD, RNG, HTML_Files/myGenerated.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="short">oddbyexample</title>
            <title>ODD by Example customization</title>
         </titleStmt>
         <publicationStmt>
            <p>Unpublished first draft </p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base odd</ref> after an analysis of 3 files in /home/florian/Desktop/XML_encoding_project_part_3_2025_2026/XML_Documents</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <p> This schema has been generated from Text1.xml, which used TEI ALL, for the assignement part three. It has been customized for a better encoding of letters from french soldiers of the First Wolrd War.  </p>
         <schemaSpec ident="oddbyexample" start="TEI ">
            
            <constraintSpec ident="langDeclaredInProfileDesc"
               scheme="schematron"
               xmlns="http://www.tei-c.org/ns/1.0"
               xmlns:sch="http://purl.oclc.org/dsdl/schematron">
               
               
               <desc>
                  [Note Change!] 
                  
                  Firstly, I wanted to make the @xml:lang mandatoy for some element as body, reg and orig. So I did a schematron rule in that way. 
                  
                  In order to make my encoding more meaningful, 
                  I wanted the languages declared in profilesDesc/langUsage/Language to be mandatory when declaring an @xml:lang in the document encoding. 
                  This way, I preserve the consistency of the encoding and make the declaration of these elements more useful. 
                  To do this, I used a Schematron rule that uses XPATH to force the reuse of these elements.
                  
                  This complements the rules enforcing the xml:lang attribute on certain elements such as body and reg.
                  
                  
                  We need to note that it will partially work. @xml:lang needs to refere to teidata.language which constrain strings. The string st that I use 
                  already have a signification which is not the one I want to give here. So this schematron rules pushed me to adapt by indicate that this is a custom 
                  language with : xml:lang="x-st"
               </desc>
               
               
               <constraint>
                  <sch:ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
                  <sch:rule context="tei:body | tei:reg | tei:orig">
                     <sch:assert test="@xml:lang">
                        @xml:lang is mandatory on &lt;body&gt;, &lt;reg&gt; and &lt;orig&gt; elements.
                     </sch:assert>
                     <sch:assert test="@xml:lang = //tei:profileDesc/tei:langUsage/tei:language/@ident">
                        @xml:lang values must be one of the languages declared in &lt;profileDesc&gt;/&lt;langUsage&gt;/&lt;language&gt;.
                     </sch:assert>
                  </sch:rule>
                     
                     <!-- This rule does not produced a list of values available and it 
                        does not restrict the available values to those declared in langUsage/@ident. All values of teidata.language are available, plus those declared in langUsage/@ident. I don't know how to do that. -->
               </constraint>
               
            </constraintSpec>
            
            
            
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <moduleRef key="msdescription"
                       include="msDesc material stamp watermark msIdentifier institution collection msContents msItem physDesc objectDesc supportDesc support handDesc history"/>
            <elementSpec ident="msDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="material" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="stamp" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="watermark" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="msIdentifier" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="institution" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="collection" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="msContents" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="msItem" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="physDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="objectDesc" mode="change">
               <attList>
                  <attDef ident="form" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="supportDesc" mode="change">
               <attList>
                  <attDef ident="material" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="support" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handDesc" mode="change">
               <attList>
                  <attDef ident="hands" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="history" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
                       include="persName surname placeName country settlement eventName birth death geo listPerson listPlace location person place socecStatus"/>
            <elementSpec ident="persName" mode="change">
               
               <desc> [Note Change!] for the persName element I added a new element @rel with a closed list of validation. This attribute is not mandatory but recommended ! </desc>
               
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="children"/>
                        <valItem ident="cousins"/>
                        <valItem ident="unknow"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="rel" mode="add" usage="rec">
                     <valList type="closed">
                        <valItem ident="Family"/>
                        <valItem ident="Child"/>
                        <valItem ident="Sister"/>
                        <valItem ident="Brother"/>
                        <valItem ident="Friends"/>
                        <valItem ident="Spouse"/>
                        <valItem ident="Unknow"></valItem>
                     </valList>
                     <exemplum>
                        
                        <egXML xmlns="http://www.tei-c.org/ns/Examples">
                           <p> J'en suis sûr ! Est ce
                              que <persName rel="Child">Ernest</persName> et <persName rel="Child"
                                 >Marie</persName> vont bien ? T'aident-ils un peu à la maison ? As-tu des
                              nouvelles du cousin <persName rel="Family">Albert</persName> ? Donne-moi des
                              nouvelles des soldats</p>
                        </egXML>
                     </exemplum>
                     
                  </attDef>
                  
               </attList>
            </elementSpec>
            <elementSpec ident="surname" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="city"/>
                        <valItem ident="department"/>
                        <valItem ident="village"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="country" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settlement" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="eventName" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="birth" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="death" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="geo" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPlace" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="location" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
                        
            
            <elementSpec ident="person" mode="change">
               
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="gender" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="place" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="domain"/>
                        <valItem ident="region"/>
                        <valItem ident="village"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="socecStatus" mode="change">
               <attList>
                  <attDef ident="scheme" mode="delete"/>
                  <attDef ident="code" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.anchoring" type="atts" mode="change">
               <attList>
                  <attDef ident="targetEnd" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" type="atts" mode="change">
               <attList>
                  <attDef ident="scribe" mode="delete"/>
                  <attDef ident="scribeRef" mode="delete"/>
                  <attDef ident="script" mode="delete"/>
                  <attDef ident="scriptRef" mode="delete"/>
                  <attDef ident="medium" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
                       include="p corr choice reg orig add unclear name address addrLine date abbr expan ptr note author respStmt resp title publisher pubPlace"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="corr" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="choice" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="reg" mode="change">
               <desc> [Note Change!] I add the @xml:lang attribute as mandatory with schematron rule. Reg element therefore needs an @xml:lang which have constrained values thanks to the Schematron rule. </desc>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <name><choice>
                           <orig>frusques</orig>
                           <reg xml:lang="fr">vieux habits</reg>
                     </choice></name>
                  </egXML>
               </exemplum>
            </elementSpec>
            <elementSpec ident="orig" mode="change">
               <desc>[Note Change!] I add the @xml:lang attribute as mandatory with a schematron rule. Body element therefore needs an @xml:lang which have constrained values thanks to the Schematron rule.</desc>
               <attList>
                  <attDef ident="facs" mode="delete"/>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <name><choice>
                           <orig xml:lang="x-st">frusques</orig> <!-- if x-st is declared in /TEI/teaiHeader/profileDesc/langUsage/language/@ident -->
                           <reg xml:lang="fr">vieux habits</reg>
                        </choice></name>
                  </egXML>
               </exemplum>
            </elementSpec>
            <elementSpec ident="add" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="unclear" mode="change">
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="abbreviation"/>
                        <valItem ident="author"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="address" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="addrLine" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="unknownAbbr" mode="add">
               <desc> [Note Change !] New element added for pointing at unknown abbreviation. He can have attribute for precising if the abbreviation is now resolved or not. And if it is resolved, to specified the traduction</desc>
               <classes>
                  <memberOf key="model.pLike"/> <!-- Specify where this element can be contained -->
                  <memberOf key="model.bylinePart"/>
                  <memberOf key="model.phrase"></memberOf>
               </classes>
               <content>
                  <textNode/>
               </content>
               <attList>
                  <attDef ident="status" mode="add" usage="req">
                     <valList type="closed">
                        <valItem ident="unknow"></valItem>
                        <valItem ident="know"></valItem>
                     </valList>
                  </attDef>
                  <attDef ident="traduction" mode="add" usage="opt">
                     <datatype>
                        <dataRef key="teidata.text"/> 
                     </datatype>
                  </attDef>
               </attList>
            <exemplum>   
               <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <body>
                     <div>
                        <p><unknownAbbr>P. Hêche</unknownAbbr> caporal 20e d'infanterie 30e compagnie</p>
                     </div>
                  </body>
               </egXML>
            </exemplum>
            </elementSpec>
            
            <constraintSpec ident="unknownAbbr_in_body"
               scheme="schematron"
               xmlns="http://www.tei-c.org/ns/1.0"
               xmlns:sch="http://purl.oclc.org/dsdl/schematron">
               
               <desc>[Note Change!] Schematron rule used to constrain this new element &lt;unknownAbbr&gt; in &lt;body&gt; element</desc> <!-- It is not redundant with the classes delcaration. In the class, this element can be present in teiHeader or I don't want it. So the schematron rule constrained the classes -->
               
               <constraint>
                  <sch:rule context="tei:unknownAbbr">
                     <sch:assert test="ancestor::tei:body">
                        This element must be contained in a body element or a child of a body element.
                     </sch:assert>
                  </sch:rule>
               </constraint>
            </constraintSpec>
            
            
            <elementSpec ident="abbr" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="expan" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ptr" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="next"/>
                        <valItem ident="previous"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt publicationStmt idno sourceDesc profileDesc langUsage language correspDesc correspAction correspContext"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="URI"/>
                        <valItem ident="wikidata"/>
                     </valList>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="URI"/>
                        <valItem ident="wikidata"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="langUsage" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="language" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="correspDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="correspAction" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="sent"/>
                     </valList>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="sent"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="correspContext" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <classRef key="att.global.facs"/>
            <moduleRef key="transcr" include="ex"/>
            <elementSpec ident="ex" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module linking-->
            <moduleRef key="linking" include="seg"/>
            <elementSpec ident="seg" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module analysis-->
            <classRef key="att.global.analytic"/>
            <classRef key="att.linguistic"/>
            <moduleRef key="analysis" include="s w"/>
            <elementSpec ident="s" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="w" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure"
                       include="TEI text body div byline dateline opener closer salute docAuthor docDate"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <desc>
                  [Note Change!] I add the @xml:lang attribute as mandatory with a schematron rule. Body element therefore needs an @xml:lang which have constrained values thanks to the Schematron rule. 
               </desc>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <body xml:lang="en">
                        <div>
                           <p> This is an example</p>
                        </div>
                     </body>
                  </egXML>
               </exemplum>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="org" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="uniform"/>
                     </valList>
                  </attDef>
                  <attDef ident="sample" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="complete"/>
                     </valList>
                  </attDef>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="byline" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="dateline" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="opener" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="closer" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="salute" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="docAuthor" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="docDate" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus" include="particDesc settingDesc"/>
            <elementSpec ident="particDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="settingDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
